<section class="contact" id="contact">
  <div class="title">
      <h2 class="titleText"><span>C</span>uentanos con nostros</h2>
      <p>Escribenos y te ayudaremos en lo que necesites</p>
  </div>
  <div class="contactForm">
      <h3>Enviar mensaje</h3>
      <div class="inputBox">
          <input type="text" placeholder="Nombre">
      </div>
      <div class="inputBox">
          <input type="text" placeholder="Correo">
      </div>
      <div class="inputBox">
          <textarea placeholder="Mensaje"></textarea>
      </div>
      <div class="inputBox">
          <input type="submit" value="Enviar">
      </div>
  </div>
</section>
