<section class="banner" id="banner">
  <div class="content">
      <h2>Siempre contigo</h2>
      <p>Porque conocemos muy bien el camino a tu corazon y sabemos que te va a encantar</p>
      <a class="btn2" routerLink="/productos">Nuestros productos</a>
  </div>
</section>
<section class="about" id="about">
  <div class="row">
      <div class="col50">
          <h2 class="titleText"><span>N</span>uestra <span>H</span>istoria</h2>
          <p>Pastelería Michelline cuenta con más de 30 años de experiencia, consolidándose como una de las pastelerías más grandes de la ciudad de La Paz; fruto de su compromiso con sus clientes brindándole siempre productos de calidad.</p>
          <br><br>
          <p>Michelline se caracteriza por sus exquisitas tortas, las cuales destacan por su masa esponjosa, su relleno con frutas y su decorado con crema de leche natural las cuales brindan un excepcional sabor.</p>
      </div>
      <div class="col50">
          <div class="imgBx">
              <img src="assets/images/dl2.jpg" alt="">
          </div>
      </div>
  </div>
</section>

<app-menu></app-menu>
<app-team></app-team>
<app-footer></app-footer>
