
<section class="about" id="about">
  <div class="row">
      <div class="col50">
          <h2 class="titleText"><span>Torta de Cacao negro</span></h2>
          <p>Torta a base de dulce de leche y cacao negro del amazonas, Torta a base de dulce de leche y cacao negro del amazonas, Torta a base de dulce de leche y cacao negro del amazonas</p>
          <p>45 bs.</p>
          <hr>
          <h6 class="titleText"><span>I</span>ngredientes 🧁🍰🎂🥧</h6>
          <p>✅ Torta a base de dulce de leche y cacao negro del amazonas</p>
          <p>✅ Torta a base de dulce de leche y cacao negro del amazonas</p>
          <p>✅ Torta a base de dulce de leche y cacao negro del amazonas</p>
          <p>✅ Torta a base de dulce de leche y cacao negro del amazonas</p>

      </div>
      <div class="col50">
          <div class="imgBx">
              <img src={{dessert.img}} alt="">
          </div>
      </div>
  </div>
  <div class="title">
    <a routerLink="/productos" class="btn2">Añadir al carrito</a>
  </div>
</section>
